
body {
  margin: 0; 
  padding: 0;
}


.container {
  position: relative; 
  margin-left: 40%;
  margin-top: 15%
}

.stack-style {
  border: solid 2px black;
  height: 15px; 
  width: 30px;
 margin-left: 10%;
 position: relative;
 top: 15px;
 text-align: center;
}